# Typescript files
dist
node_modules

# Test files
coverage

# Environment files
.env

# Test project
.nexical
dev_project
test_project*

# Cloudflare files
.wrangler

# MacOS specific files
.DS_Store

# AI development
.aider*

# VSCode IDE
*.code-workspace
