# Typescript files
dist
node_modules

# Test files
coverage

# Environment files
.env

# Test project
dev_project
test_project*

# MacOS specific files
.DS_Store

# AI development
.aider*

# VSCode IDE
*.code-workspace
